
<style>
  body{
    background-color: blue;
    opacity: 0.3;
  }
</style>

<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-faded">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/login']">Iniciar sesion <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Puntos']">Puntajes</a>
      </li>
      
      
    </ul>
  
  </div>
</nav>

<div class="content" role="main"  >
    <form action="">
        <div class="form-group">
          <label for="exampleInputEmail1">Usuario</label>
          <input name="nombre" [(ngModel)]="userName"  type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
          
        >
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input name="puntaje"  [(ngModel)]="password" type="password" class="form-control" 
          id="exampleInputPassword1">
        </div>
        <br>
        <button  class="btn btn-primary" (click)="login()">Ingresar</button>
        <button  [routerLink]="['/register']" class="btn btn-secondary">Registrarse</button>
    </form>

    <h1>{{model.FirstName}}</h1>

    
    